---
import Banner from "./Banner.astro";
import Footer from "@components/Footer.astro";
import "@styles/globals.css";

interface Props {
  title: string;
  showBanner?: boolean;
}

const { title, showBanner = true } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="NEAR Horizon" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg" href="/icon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-72CCMT2FGJ"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-72CCMT2FGJ");
    </script>
  </head>
  <body>
    <Banner showBanner={showBanner} />
    <slot />
    <Footer />
  </body>
</html>
