---
import Banner from "./Banner.astro";
import Footer from "@components/Footer.astro";
import "@styles/globals.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="NEAR Horizon" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg" href="/icon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Banner />
    <slot />
    <Footer />
  </body>
</html>
