<div
  class="flex flex-col items-center gap-7 w-full pt-20 px-0 pb-16 rounded-2xl bg-[#f9fafb]"
>
  <h2 class="text-ui-elements-dark text-center fonr-bold text-4xl py-0 px-12">
    Still have questions?
  </h2>
  <p class="text-[#475467] text-center px-12 py-0 -mt-6">
    Can’t find the answer you’re looking for? Feel free to join our community!
  </p>
  <a
    href="mailto:support.horizon@near.foundation"
    target="_blank"
    class:list={[
      "flex items-center justify-center gap-2 rounded-full bg-primary text-ui-elements-dark text-center text-sm font-semibold py-2 px-4",
      "hover:bg-primary-hover hover:text-text-dark hover:no-underline",
      "focus:bg-primary-hover focus:text-text-dark focus:no-underline",
      "active:bg-primary-hover active:text-text-dark active:no-underline",
    ]}
  >
    Talk to us
  </a>
</div>
