<div
  class="flex flex-col items-center gap-6 w-full py-12 px-8 rounded-2xl bg-background-white"
>
  <h2 class="text-ui-elements-dark text-center font-bold text-4xl">
    Still have questions?
  </h2>
  <p class="text-ui-elements-gray text-center">
    Can’t find the answer you’re looking for? Feel free to join our community!
  </p>
  <a
    href="mailto:horizon@near.foundation"
    target="_blank"
    class:list={[
      "flex items-center justify-center gap-2 rounded-full bg-ui-elements-dark text-ui-elements-white text-center text-sm font-semibold py-2 px-4 transition-colors duration-200",
      "hover:bg-ui-elements-gray hover:text-ui-elements-light hover:no-underline",
      "focus:bg-ui-elements-gray focus:text-ui-elements-light focus:no-underline",
      "active:bg-ui-elements-gray active:text-ui-elements-light active:no-underline",
    ]}
  >
    Talk to us
  </a>
</div>
