---
import { Separator } from "@components/ui/separator";
---

<div
  class="flex md:flex-row items-center justify-between w-full gap-8 flex-col md:px-20"
>
  <div class="flex flex-col items-center gap-3">
    <span class="text-[#66a0ff] text-center text-4xl font-medium">90+ days</span
    >
    <small class="text-text-gray text-center font-semibold"
      >Program duration</small
    >
  </div>
  <Separator className="md:w-px md:h-32 w-full h-px" />
  <div class="flex flex-col items-center gap-3">
    <span class="text-[#66a0ff] text-center text-4xl font-medium"
      >Equity-free</span
    >
    <small class="text-text-gray text-center font-semibold"
      >We don't demand any shares</small
    >
  </div>
  <Separator className="md:w-px md:h-32 w-full h-px" />
  <div class="flex flex-col items-center gap-3">
    <span class="text-[#66a0ff] text-center text-4xl font-medium"
      >25 projects</span
    >
    <small class="text-text-gray text-center font-semibold"
      >In our first cohort</small
    >
  </div>
</div>
