---
const faqs = [
  {
    question: "What is NEAR Horizon?",
    answer:
      "NEAR Horizon (HZN) is an equity-free accelerator program for web3 Founders. HZN facilitates three cohorts annually with batches of 15-20 Founders per cohort, ranging from idea-stage to seed stage. Founders will receive mentorship, 1:1 technical support, and tactical education on how to scale a project - all equity free. HZN has 50+ alumni projects like Gravvity, Quest, Plato, Shard Dog, Contented and Solaire that have gone on to raise over $20M in combined external capital.",
  },
  {
    question: "What all is included in HZN?",
    answer:
      'HZN is a comprehensive program for founders that includes cohort-based learning, expert-led sessions, networking opportunities, product audits, a "Ready-to-Raise" bootcamp, Catalyst mentorship program, and more. All these components are designed to provide you with the knowledge, connections, and skills to scale your startup successfully in the Web3.',
  },
  {
    question: "How long is HZN?",
    answer:
      "HZN cohorts run for 8 weeks and include interactive sessions with industry experts. This is followed by Demo Days, where HZN Founders have the opportunity to pitch their product to an open audience including other NEAR ecosystem projects, potential investors and anyone interested in joining future cohorts.",
  },
  {
    question: "When does the cohort start?",
    answer:
      "We offer three cohorts per year. Cohorts begin in January (Winter), May (Summer), and October (Fall). Applications are open year-round, with each cohort having specific application deadlines. Please refer to the application for information on the specific deadline based on the cohort you are applying for.",
  },
  {
    question: "What is the time commitment?",
    answer:
      "Participation in HZN requires a time commitment of 4-6 hours per week. This includes attending sessions, engaging in discussions, working on challenges and projects, and participating in other program elements.",
  },
  {
    question: "How much does HZN cost?",
    answer:
      "HZN is an equity-free program. We do not make an investment or take equity in participating startups. The program, designed to support and elevate early-stage Web3 founders, is completely free of charge for HZN.",
  },
  {
    question: "How does the admissions process work?",
    answer:
      "Applications are accepted on a rolling basis. Once submitted, there is an initial internal review by the Horizon Team. Once this is complete, an interview is scheduled to ensure there is a mutual fit. Once participation is confirmed, Founders will be prompted to create a profile on Horizon and will be invited to join our communications channels and calendar access is provided.",
  },
];
---

<div class="flex flex-col items-center gap-7 w-full">
  <h2 class="text-ui-elements-dark text-center font-bold text-4xl">
    Frequently asked questions
  </h2>
  <div
    class="flex flex-col gap-6 items-stretch justify-start flex-wrap md:gap-4 md:flex-row w-full"
  >
    {
      faqs.map(({ question, answer }) => (
        <div
          class:list={[
            "w-full md:w-[calc(50%-1rem)] pt-6 flex flex-col items-start gap-2 border-[#eaecf0]",
            "[&:nth-child(n+2)]:border-t md:[&:nth-child(2)]:border-none",
            "md:[&:nth-child(n+3)]:border-t",
          ]}
        >
          <b class="text-ui-elements-dark text-lg font-bold">{question}</b>
          <p class="p-0 m-0 text-background-dark">{answer}</p>
        </div>
      ))
    }
  </div>
</div>
