---
import { Ellipse, Flag } from "./SvgElements.tsx";
import { TooltipItem } from "./TooltipItem.tsx";
---

<div class="relative lg:h-[35rem] w-full">
  <h2 class="text-[2.875rem] text-ui-elements-dark lg:max-w-[37rem]">
    HZN is an 8 week <b class="font-bold text-secondary">equity-free</b>
     accelerator that provides multi-faceted support for <b
      class="font-bold text-secondary">early stage</b
    > Web3 projects
  </h2>
  <svg
    class="absolute top-0 left-0 h-full hidden lg:block"
    viewBox="0 0 943 585"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M941 1L895 157.5L822 257L727 343.5L656 443L528.5 535.468L375 583H0"
      stroke="url(#paint0_linear_776_48794)"
      stroke-width="3"></path>
    <defs>
      <linearGradient
        id="paint0_linear_776_48794"
        x1="4"
        y1="579.5"
        x2="931"
        y2="14.0007"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#66A0FF" stop-opacity="0"></stop>
        <stop offset="0.258303" stop-color="#66A0FF"></stop>
        <stop offset="0.826743" stop-color="#66A0FF"></stop>
        <stop offset="1" stop-color="#66A0FF" stop-opacity="0"></stop>
      </linearGradient>
    </defs>
  </svg>
  <div
    class="absolute bottom-[-1.5%] left-[365px] text-secondary flex-col-reverse items-center justify-start -translate-x-1/2 hidden lg:flex"
  >
    <Ellipse className="w-5" />
    <Flag
      className="h-8 w-8 text-[#ED6C30] translate-x-[.7rem] translate-y-[.2rem]"
    />
    <b class="font-medium text-2xl text-ui-elements-dark">Join HZN</b>
  </div>
  <div
    class:list={[
      "absolute bottom-[6.5%] left-[500px]",
      "text-secondary hidden lg:flex lg:flex-col-reverse xl:flex-row items-start xl:items-center justify-start gap-4",
    ]}
  >
    <Ellipse className="w-5" />
    <TooltipItem label="Product and UX Support" client:load>
      We provide dedicated UX support and guidance to ensure you have
      product-market fit
    </TooltipItem>
  </div>
  <div
    class:list={[
      "absolute bottom-[21.5%] left-[620px]",
      "text-secondary hidden lg:flex lg:flex-col-reverse xl:flex-row items-start xl:items-center justify-start gap-4",
    ]}
  >
    <Ellipse className="h-6 w-5" />
    <TooltipItem label="Technical Support" client:load>
      Receive guidance from the technical team at Near Horizon
    </TooltipItem>
  </div>
  <div
    class:list={[
      "absolute bottom-[38.5%] left-[685px]",
      "text-secondary hidden lg:flex lg:flex-col-reverse xl:flex-row items-start xl:items-center justify-start gap-4",
    ]}
  >
    <Ellipse className="h-6 w-5" />
    <TooltipItem label="Legal Support" client:load>
      Consult with our team of legal experts
    </TooltipItem>
  </div>
  <div
    class:list={[
      "absolute bottom-[52.5%] left-[775px]",
      "text-secondary hidden lg:flex lg:flex-col-reverse xl:flex-row items-start xl:items-center justify-start gap-4",
    ]}
  >
    <Ellipse className="h-6 w-5" />
    <TooltipItem label="Marketing Support" client:load>
      We provide you the guidance and tools you need to acquire and build your
      user base
    </TooltipItem>
  </div>
  <div
    class:list={[
      "absolute bottom-[70.5%] left-[845px]",
      "text-secondary hidden lg:flex lg:flex-col-reverse xl:flex-row items-start xl:items-center justify-start gap-4",
    ]}
  >
    <Ellipse className="h-6 w-5" />
    <TooltipItem label="Fundraising Support" client:load>
      We provide you the tools and feedback needed to make your fundraising
      process successful. We also put you infront of our community of Backers.
    </TooltipItem>
  </div>
</div>
