---
import { LinkButton } from "@components/LinkButton";
import { ByHorizonLogo } from "@components/svgs/ByHorizonLogo.tsx";

const VIDEO_URL =
  "https://s3.us-east-2.amazonaws.com/nearhorizon.assets/hzn-visual.mp4";
---

<div
  class="min-h-[600px] w-full flex rounded-3xl flex-col items-center self-stretch overflow-hidden relative"
>
  <div class="w-full h-full overflow-hidden absolute inset-0">
    <video
      autoplay
      loop
      muted
      playsinline
      src={VIDEO_URL}
      style="object-fit: cover; width: 100%; padding: 0; margin: 0; height: 100%; overflow: hidden;"
    ></video>
  </div>
  <div
    class="flex flex-col justify-center items-center gap-6 w-full py-24 px-28 z-[1] inset-0"
  >
    <ByHorizonLogo />
    <h1
      class="text-white font-bold text-[2.625rem] text-center leading-normal tracking-wide"
    >
      Grounded cohort-based support program tailored for Web3 founders. All
      equity-free.
    </h1>
    <p
      class="text-center text-[#c3e2ff] text-2xl leading-9 max-w-3xl font-normal"
    >
      Next cohort, <b class="text-white">HZN2</b>, will be kicking off in <b
        class="text-white"
      >
        January 2024
      </b>, applications are considered on a rolling basis.
    </p>
    <div class="flex flex-row items-center justify-center gap-3">
      <LinkButton
        className="font-medium"
        label="Apply for HZN2"
        href="https://airtable.com/appFoIqAoY0ikoVIb/shrst8Tt4PUtYTSvD"
        target="_blank"
      />
    </div>
  </div>
</div>
