---
import { LinkButton } from "@components/LinkButton";
import { ByHorizonLogo } from "@components/svgs/ByHorizonLogo.tsx";

const VIDEO_URL =
  "https://s3.us-east-2.amazonaws.com/nearhorizon.assets/hzn-visual.mp4";
---

<div
  class="min-h-[32rem] w-full flex rounded-3xl flex-col items-center self-stretch overflow-hidden relative py-24"
>
  <div class="w-full h-full overflow-hidden absolute inset-0 bg-indigo-950">
    <video
      autoplay
      loop
      muted
      playsinline
      src={VIDEO_URL}
      style="object-fit: cover; width: 100%; padding: 0; margin: 0; height: 100%; overflow: hidden;"
      class="hidden md:block"></video>
  </div>
  <div class="flex flex-col justify-center items-center gap-6 w-full z-10">
    <ByHorizonLogo />
    <h1
      class="text-white font-bold text-5xl text-center leading-normal tracking-wide"
    >
      Next Cohort Starts in <b class="text-primary">January 2024.</b>
      <br />
       Apply now!
    </h1>
    <div class="flex flex-row items-center justify-center gap-3">
      <LinkButton
        className="font-medium"
        label="Apply to HZN"
        href="/hzn/signup"
      />
    </div>
  </div>
</div>
