---
import { mapImage } from "@lib/utils";
const image = "bafkreiej5x7dhlryiqpunbvumpqs2txmmwjb2mwtjeza6sm4svx3c3xq4m";
---

<div class="flex flex-col items-center gap-7 w-full">
  <h2 class="text-ui-elements-dark text-center text-4xl font-bold">
    Who can benefit from HZN?
  </h2>
  <p class="text-background-dark text-center text-xl">
    HZN is an exclusive learning community for founders that addresses the
    unique challenges and opportunities within the web3 space. What we're
    offering is more than just another program; it's a roadmap tailored for Web3
    founders.
  </p>
  <div class="w-full">
    <img
      src={mapImage(image)}
      alt="Journey Image"
      class="w-full object-contain"
    />
  </div>
</div>
