---
import { LinkButton } from "@components/LinkButton";
---

<div
  class="flex flex-col items-center gap-6 w-full py-12 px-8 rounded-2xl bg-background-light"
>
  <h2 class="text-ui-elements-dark text-center font-bold text-2xl max-w-[34ch]">
    We are looking for Founders and Projects eager to make an impact in the web3
    space.
  </h2>
  <p class="text-ui-elements-dark text-lg text-center max-w-[80ch]">
    We encourage everyone to apply but we specifically are on the look-out for
    projects that are in the idea-stage, seed-stage or talented builders that
    are still looking for their next venture. Not sure if you're a right fit?
    <br />
     Apply now and find out!
  </p>
  <LinkButton className="font-medium" label="Apply to HZN" href="/hzn/signup" />
</div>
