---
import { LinkButton } from "@components/LinkButton";
---

<div
  class="flex flex-col items-center gap-6 w-full py-12 px-8 rounded-2xl bg-background-light"
>
  <h2 class="text-ui-elements-dark text-center font-bold text-2xl">
    Recognize yourself? Join HZN today!
  </h2>
  <LinkButton className="font-medium" label="Apply to HZN" href="/hzn/signup" />
</div>
