---
import anna from "@assets/anna.png";
import annaIcon from "@assets/anna-icon.png";
import kenny from "@assets/kenny.png";
import kennyIcon from "@assets/kenny-icon.png";
import jerry from "@assets/jerry.png";
import jerryIcon from "@assets/jerry-icon.png";
import TestamonialItem from "./TestamonialItem.astro";
import { HorizontalScroll } from "./HorizontalScroll.tsx";
---

<HorizontalScroll client:load>
  <div class="flex flex-row items-center justify-start w-full gap-4">
    {
      [
        {
          text: "Joining Horizon's accelerator was a game-changer for our NFT startup. The mentors provided invaluable guidance, the community offered meaningful collaborations, and access to funding opportunities propelled our growth. Highly recommended for Web3 founders looking to thrive",
          image: anna,
          icon: annaIcon,
          name: "Anna Stoilova",
          title: "Co-Founder & CEO @ Rogues Studio",
        },
        {
          text: "Been a real pleasure getting to learn while growing Ample through the NEAR HZN1 program. The access to the team, support and group feedback has been a huge value add for our project. Having AMAs and presentations on token modeling, demo days, fundraising and UX research with vetted industry players specifically has been invaluable. ",
          image: kenny,
          icon: kennyIcon,
          name: "Kenny Johns",
          title: "Founder/CEO @ Ample",
        },
        {
          text: "Being selected to participate in the first HZN cohort has truly been a privilege. The HZN team has been incredible and all the teams have amazing projects and have been super collaborative. At Gravvity AI we’re truly excited to help bring web 3 mainstream via our gamified swipe to shop e-commerce platform. Hope this works!",
          image: jerry,
          icon: jerryIcon,
          name: "Jerry Chien",
          title: "EO & Co-Founder @ Gravvity",
        },
      ].map((item) => <TestamonialItem {...item} />)
    }
  </div>
</HorizontalScroll>
