---
import { mapImage } from "@lib/utils";
const image = "bafkreicediliywii236fdx7nekbcwhk2nxwo6ctd4ritdv3lmf6tv45i3q";
---

<div class="flex flex-col items-center w-full gap-8 p-16">
  <div
    class="flex px-9 py-12 flex-col items-start gap-3 w-full rounded-xl bg-ui-elements-dark text-ui-elements-white text-center text-4xl"
  >
    Joining Horizon's accelerator was a game-changer for our NFT startup. The
    mentors provided invaluable guidance, the community offered meaningful
    collaborations, and access to funding opportunities propelled our growth.
    Highly recommended for Web3 founders looking to thrive
  </div>
  <div class="flex flex-col items-center gap-4">
    <img
      class="flex w-20 h-20 flex-col justify-center items-center rounded-[6.25rem]"
      src={mapImage(image)}
      alt="avatar"
    />
    <div class="flex flex-col items-center self-stretch gap-2">
      <span class="text-ui-elements-dark text-center font-bold text-xl"
        >John Doe</span
      >
      <small class="text-ui-elements-gray text-center"
        >Web Developer, Sisyphus</small
      >
    </div>
  </div>
</div>
