---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/hzn/Hero.astro";
import Who from "@components/hzn/Who.astro";
import Testamonial from "@components/hzn/Testamonial.astro";
// import Journey from "@components/hzn/Journey.astro";
import { Comprehensive } from "@components/hzn/Comprehensive.tsx";
import FAQ from "@components/hzn/FAQ.astro";
import Ask from "@components/hzn/Ask.astro";
import Recognize from "@components/hzn/Recognize.astro";
import { People } from "@components/hzn/People.tsx";
import Graphic from "@components/hzn/Graphic.astro";

const airtableKey = import.meta.env.PUBLIC_AIRTABLE_TOKEN;
const response = await fetch(
  "https://api.airtable.com/v0/appYZgc3ux1uIHpe8/tblhBsqdaPdYbqKc5",
  {
    headers: {
      Authorization: `Bearer ${airtableKey}`,
    },
  },
);
const json = await response.json();
const people = json.records.map((record: any) => ({
  name: record.fields["First Name & Last Name"],
  title: record.fields["Title"],
  project: record.fields["Project Name"],
  image: record.fields["Photo"] ? record.fields["Photo"][0]?.url ?? "" : "",
  role: record.fields["Role"],
  featured: record.fields["Featured"],
}));
---

<Layout title="HZN" showBanner={false}>
  <main class="bg-background-light">
    <div class="p-6 w-full flex-col flex gap-14 max-w-screen-xl mx-auto py-14">
      <Hero />
      <div class="md:pr-24 md:pb-10 md:pl-8">
        <Graphic />
      </div>
      <Comprehensive />
    </div>
    <div class="bg-background-white">
      <div
        class="p-6 w-full flex-col flex gap-14 max-w-screen-xl mx-auto py-14"
      >
        <Who />
        <Recognize />
        <Testamonial />
        <People client:load people={people} />
        <!-- <Journey /> -->
        <Hero />
      </div>
    </div>
    <div class="p-6 w-full flex-col flex gap-14 max-w-screen-xl mx-auto py-14">
      <FAQ />
      <Ask />
    </div>
  </main>
</Layout>
