---
import IntroSection from "@components/landing-page/IntroSection.astro";
import SupportedBySection from "@components/landing-page/SupportedBySection.astro";
import AboutSection from "@components/landing-page/AboutSection.astro";
import HorizonEvents from "@components/landing-page/HorizonEvents.astro";
import BuildSection from "@components/landing-page/BuildSection";
import ConnectSection from "@components/landing-page/ConnectSection";
import GrowSection from "@components/landing-page/GrowSection";
import Testimonial from "@components/landing-page/Testimonial.astro";
import ContributorsSection from "@components/landing-page/ContributorsSection";
import BackersSection from "@components/landing-page/BackersSection.tsx";
import PartnersSection from "@components/landing-page/PartnersSection.tsx";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Horizon">
  <main
    class="p-6 bg-background-white w-full flex-col flex gap-14 max-w-screen-xl mx-auto"
  >
    <IntroSection />
    <SupportedBySection />
    <AboutSection />
    <HorizonEvents />
    <BuildSection client:visible />
    <ConnectSection client:visible />
    <GrowSection client:visible />
    <Testimonial />
    <ContributorsSection client:visible />
    <BackersSection client:visible />
    <PartnersSection client:visible />
  </main>
</Layout>
