<div
  class="flex w-full flex-col items-center justify-center gap-2 md:w-1/5 md:items-start md:justify-start"
>
  <div
    class="flex h-11 flex-col items-center justify-center md:items-start md:justify-start"
  >
    <slot name="header" />
  </div>
  <slot name="body" />
</div>
